<div class="wrapper">
    <mynavbar></mynavbar>
    <div id="content">
    <toggledir></toggledir>
    <div>
        <div class="col-md-offset-2 col-md-6">
            <div id="myfirstchart" style="height: 250px;"></div>
        </div>
        <div class="col-md-offset-2 col-md-8">
            <div id="bar-example" style="height: 250px;"></div>
        </div>
         <div class="col-md-offset-2 col-md-8">
            <div id="donut-example" style="height: 250px;"></div>
        </div>
        </div>
        </div>
</div>
    